<ul>
    <li><a href=#question1>1. BBC Memory Scores</a></li>
    <li><a href=#question2>2. BBC Memory Scores</a></li>
    <li><a href=#question3>3. BBC Memory Scores</a></li>
    <li><a href=#question20>20. NHL (Mean)</a></li>
    <li><a href=#question21>21. NHL (Mode)</a></li>
    <li><a href=#question22>22. NHL (Median)</a></li>
</ul>

<a id='question1'></a>

### 1. BBC Memory Scores

Remember when you did the BBC face memory test? Here is a sample of your scores(link below)!

What's the sample size?

In [3]:
import pandas as pd

sample_scores = pd.read_csv('Sample Memory Scores - PS3, PS4 - Sheet1.csv')
sample_scores.head() # Only show the "head", the first five lines.

,Recognition Score,Temporal Memory Score,Average Recognition,Average Temporal
0,91,86,93.115556,78.026667
1,95,78,NaN,NaN
2,95,56,NaN,NaN
3,91,81,NaN,NaN
4,100,75,NaN,NaN

In [4]:
sample_scores.count()

Recognition Score        225
Temporal Memory Score    225
Average Recognition        1
Average Temporal           1
dtype: int64

<a id='question2'></a>

### 2. BBC Memory Scores

What are the average recognition score and temporal memory score?

In [12]:
sample_avg_recog = sample_scores['Recognition Score'].mean()
sample_avg_recog

93.11555555555556

In [10]:
sample_avg_temp = sample_scores['Temporal Memory Score'].mean()
sample_avg_temp

78.02666666666667

<a id='question3'></a>

### 3. BBC Memory Scores

When BBC did the study, they found that the averges werge 92% (Recognition score) and 68% (Temporal Memory). By how much do the averages of our sample differ from these averages?

In [13]:
bbc_avg_recog = 92
sample_avg_recog - bbc_avg_recog

1.1155555555555594

In [14]:
bbc_avg_temp = 68
sample_avg_temp - bbc_avg_temp

10.02666666666667

<a id='question20'></a>

### 20. NHL (Mean)

Two friends are arguing over whose favorite team in the NHL (National Hockey League) has taller players. Scott thinks his team, the Detroit Red Wings, has taller players, whereas Dan thinks his team, the San Jose Sharks, has taller players.

The shared spreadsheet shows the heights of players on each team in inches (according to the roster as of January 30, 2013). The data was taken from the teams' official websites.

What is the mean height(in inches) of the players on each team?

In [16]:
nhl_heights = pd.read_csv('NHL - Problem Set 3 - Sheet1.csv')
nhl_heights.head()

   Detroit Red Wings  San Jose Sharks
0                 73               73
1                 75               74
2                 70               73
3                 72               73
4                 71               74

In [18]:
DRW_avg = nhl_heights['Detroit Red Wings'].mean()
round(DRW_avg,2)

72.86

In [19]:
SJS_avg = nhl_heights['San Jose Sharks'].mean()
round(SJS_avg,2)

73.83

<a id='question21'></a>

### 21. NHL (Mode)

What is the mode(in inches) of the players on each team?

In [20]:
DRW_mode = nhl_heights['Detroit Red Wings'].mode()
DRW_mode

0    72
dtype: int64

In [21]:
SJS_mode = nhl_heights['San Jose Sharks'].mode()
SJS_mode

0    74
dtype: float64

<a id='question22'></a>

### 22. NHL (Median)

What is the median height(in inches) of the players on each team?

In [22]:
DRW_median = nhl_heights['Detroit Red Wings'].median()
DRW_median

72.5

In [23]:
SJS_median = nhl_heights['San Jose Sharks'].median()
SJS_median

74.0