<ul>
<li><a href=#question1>1. Blood Types</a></li>
<li><a href=#question2>2. Rare Blood</a></li>
<li><a href=#question3>3. Common Blood</a></li>
<li><a href=#question4>4. Type A</a></li>
<li><a href=#question5>5. Guesstimate</a></li>
<li><a href=#question6>6. Guesstimate 2</a></li>
<li><a href=#question18>18. Calculate Bin Size</a></li>
<li><a href=#question25>25. Frequency and Bin Size</a></li>
<li><a href=#question27>27. Distribution of What?</a></li>
</ul>

<a id='question1'></a>

### 1. Blood Types

In [4]:
import pandas as pd

blood_types = pd.read_csv('blood_types.csv', header=None)
blood_types

    0  1  2   3  4
0   O  O  A   O  O
1   A  A  B   A  O
2   O  O  O  AB  O
3   A  O  A   O  A
4   B  A  O   A  B
5  AB  O  A   O  B
6   A  A  O   A  O

In [28]:
# As a dataframe in pandas has no value_counts function but a Series datatype has we first flatten the data 
# to a one row array. see: http://stackoverflow.com/questions/19392226/attributeerror-dataframe-object-has-no-attribute
result = pd.value_counts(blood_types.values.flatten())
result

O     16
A     13
B      4
AB     2
dtype: int64

In [34]:
# could add the data in a freqtable, now I'm just printing the results
for e in result:
    print("p of " + str(e) + " = " + str(e/35))

16
p of 16 = 0.457142857143
p of 13 = 0.371428571429
p of 4 = 0.114285714286
p of 2 = 0.0571428571429

In [ ]:
<a id='question2'></a>

### 2. Rare Blood

What is the most rare blood type?

- O
- A
- B
- AB

<b>Answer:</b> AB

<a id='question3'></a>

### 3. Common Blood

What is the most common blood type?

- O
- A
- B
- AB

<b>Answer:</b> O

<a id='question4'></a>

### 4. Type A

What proportion of donors were Type A?

<b>Answer:</b> 0.37

<a id='question5'></a>

### 5. Guesstimate

If these donors accurately represent the blood types in the population of residents in their city, then what percentage of the population should have Type O blood?

<b>Answer:</b> 46%

<a id='question6'></a>

### 6. Guesstimate 2

Blood types O, A and B can all donate to at least one other blood type, only type AB cannot. Given this information, what would you predict as the proportion of the population that cannot donate to other blood types?

<b>Answer:</b> 0.06

<a id='question18'></a>

### 18. Calculate Bin Size

Let's say you have data ranging from 15 to 105.

what should your bin size be if you want to have 10 bins?

In [30]:
(105-15)/10

9.0

<a id='question25'></a>

### 25. Frequency and Bin Size

In general, when we visualize data with histograms, as we make the bin size bigger, the frequency gets:

- larger
- smaller

<b>Answer:</b> larger
    
<b>Explanation:</b> Good job! As we make the bin size bigger, more values will fall inside that bin.

<a id='question27'></a>

### 27. Distribution of What?

In an introductory statistics course, the same number of students scored below 75% as above 75% on the final exam.

to understand student performance, we can look at the distribution of

- students
- final exam scores

b>Answer:</b> final exam scores