<ul>
  <li><a href=#question2>2. Z-Scores</a></li>
  <li><a href=#question5>5. Z-Scores of Usage</a></li>
  
</ul>

<a id='#question2'></a>

###  2. Z-Scores

A normal distribution has mean 20 and sd 3.

$$\mu = 20$$
$$\sigma = 3$$

What are the Z-scores for the following scores: 20, 17, 21,5

In [1]:
mu = 20
sigma = 3
(20 - mu)/sigma

0.0

In [2]:
(17 - mu) / sigma

-1.0

In [5]:
(21.5 - mu) / sigma

0.5

<a id='#question5'></a>

### 5. Z-Scores of Usage

According to Nielsen's 2012 State of the Media: Social Media Report, the average web user spends 120 minutes per month interacting with social media.

$$\mu = 120$$
$$\sigma = 40$$

In [10]:
import pandas as pd
social_media = pd.read_csv('Social Media Report.csv')
mu = 120
sigma = 40
social_media

      Name  Min/month interacting with social media  Z-Score
0     Andy                                      205      NaN
1  Chantee                                      137      NaN
2    Vidya                                       20      NaN
3     Luis                                       90      NaN

In [11]:
social_media['Z-Score'] = (social_media['Min/month interacting with social media'] - mu) / sigma
social_media

      Name  Min/month interacting with social media  Z-Score
0     Andy                                      205    2.125
1  Chantee                                      137    0.425
2    Vidya                                       20   -2.500
3     Luis                                       90   -0.750

In [ ]:
import matplotlib.pyplot as plt