In [ ]:
### Finches

In [32]:
import pandas as pd
beak_size = pd.read_csv('Finches - Lesson 10 - Sheet1.csv')
mu = 6.07
beak_size.head()

   Beak widths of finches now
0                         6.5
1                         6.2
2                         6.6
3                         6.0
4                         6.6

In [30]:
n = beak_size['Beak widths of finches now'].count()
n

500

In [10]:
x_bar = beak_size['Beak widths of finches now'].mean()
S = beak_size['Beak widths of finches now'].std()
print("x-bar = %.3f and S = %.3f" %(x_bar, S))

x-bar = 6.470 and S = 0.396

### Finches - Find t-Statistic

In [12]:
import math
(x_bar - mu) / (S / math.sqrt(n))

0.977461894333816

### P-Value

In [28]:
sample = pd.DataFrame({"value":[5,19,11,23,12,7,3,21]})
sample

   value
0      5
1     19
2     11
3     23
4     12
5      7
6      3
7     21

In [14]:
mu = 10
n = 8
x_bar = sample['value'].mean() # sample['value'].sum()/n
S = sample['value'].std()

In [15]:
(x_bar - mu)/(S/math.sqrt(n))

0.977461894333816

### Rent t-Critical Values

In [24]:
mu = 1830
sample_mean = 1700
S = 200
n = 25
(sample_mean - mu)/(S/math.sqrt(n))

-3.25

In [17]:
(sample_mean - 1830) / S

-0.65

### Rent - Find CI

In [22]:
1700 - ((S/math.sqrt(n)*2.064))

1617.44

In [23]:
1700 + ((S/math.sqrt(n)*2.064))

1782.56

### Rent - Increase n

In [26]:
n = 100
1.984*(S/math.sqrt(n))

39.68

### Keyboards

In [33]:
keyboards = pd.read_csv('Keyboards - Lesson 10 - Sheet1.csv')
keyboards.head()

   QWERTY errors  Alphabetical errors  5.08       7.8  -4.243822931
0              6                    6     0 -2.720000     -1.196177
1              6                   11    -5  3.691432           NaN
2              2                    8    -6 -3.684208           NaN
3              7                    5     2       NaN           NaN
4              8                   11    -3       NaN           NaN

In [35]:
x_bar_Q = keyboards['QWERTY errors'].mean()
x_bar_A = keyboards['Alphabetical errors'].mean()
print("x_bar_Q = %.3f and x_bar_A = %.3f" %(x_bar_Q, x_bar_A))

x_bar_Q = 5.080 and x_bar_A = 7.800

In [38]:
point_estimate = x_bar_Q - x_bar_A
point_estimate

-2.7199999999999998

### Keyboards - SD of Differences

In [43]:
S_diff = keyboards['5.08'].std()
S_diff

3.6914315199752337

In [44]:
t = point_estimate / (S_diff / math.sqrt(25))
t

-3.6842075835369266

### Keyboards - Cohen's d

In [58]:
M_diff = keyboards['5.08'].mean()
M_diff / S_diff

-0.7368415167073854

### Keyboards - CI for Dependent Samples

In [57]:
M_diff - (2.064 * (S_diff / math.sqrt(25)))

-4.243822931445777

In [59]:
M_diff + (2.064 * (S_diff / math.sqrt(25)))

-1.1961770685542237