### Average Meal Price

In [1]:
import pandas as pd
food_prices = pd.read_csv('Food Prices - Lesson 11 - Sheet1.csv')
food_prices

,Average meal prices at restaurants in Gettysburg ($),Average meal prices at restaurants in Wilma ($)
0,9,11
1,5,10
2,6,12
3,11,9
4,8,8
5,5,13
6,7,14
7,13,15
8,12,12
9,13,11
10,9,13
11,8,8
12,10,9
13,6,11
14,11,NaN
15,9,NaN
16,7,NaN
17,12,NaN

In [2]:
getty_avg = food_prices['Average meal prices at restaurants in Gettysburg ($)'].mean()
wilma_avg = food_prices['Average meal prices at restaurants in Wilma ($)'].mean()
print(getty_avg, wilma_avg)

8.944444444444445 11.142857142857142

In [3]:
getty_std = food_prices['Average meal prices at restaurants in Gettysburg ($)'].std()
wilma_std = food_prices['Average meal prices at restaurants in Wilma ($)'].std()
print(getty_std, wilma_std)

2.6451336499586917 2.1788191176076888

In [11]:
getty_n = food_prices['Average meal prices at restaurants in Gettysburg ($)'].count()
wilma_n = food_prices['Average meal prices at restaurants in Wilma ($)'].count()
df = getty_n + wilma_n - 2

### Meal Price SEM

$S_{\bar{x}_G- \bar{x}_W} = \sqrt{\frac{S_G^2}{n_G} + \frac{S_W^2}{n_w}}$

In [5]:
import math
sem = math.sqrt((getty_std ** 2) / getty_n + (wilma_std ** 2) / wilma_n)
sem

0.8531100847677227

In [10]:
t_stat = (getty_avg - wilma_avg) / sem
t_stat

-2.5769390582356815

In [9]:
t_stat = (wilma_avg - getty_avg) / sem
t_stat

2.5769390582356815

In [12]:
df

30

### Acne Medication

In [13]:
(33.5 - 31.2) / math.sqrt((8.89**2)/6 + (10.16**2)/5)

0.39551177686805394

### Number of shoes

In [14]:
shoes = pd.read_csv('Shoes - Lesson 11 - Sheet1.csv')
shoes

    Pairs of shoes (females)  Pairs of shoes (males)
0                         90                       4
1                         28                     120
2                         30                       5
3                         10                       3
4                          5                      10
5                          9                       3
6                         60                       5
7                        NaN                      13
8                        NaN                       4
9                        NaN                      10
10                       NaN                      21

In [16]:
fe_avg = shoes['Pairs of shoes (females)'].mean()
fe_S = shoes['Pairs of shoes (females)'].std()
ma_avg = shoes['Pairs of shoes (males)'].mean()
ma_S = shoes['Pairs of shoes (males)'].std()
print("female avg = %.3f, female S = %.3f \nmale avg = %.3f, male S = %.3f" %(fe_avg, fe_S, ma_avg, ma_S))

female avg = 33.143, female S = 31.360
male avg = 18.000, male S = 34.272

In [18]:
shoes['squared deviations(females)'] = (shoes['Pairs of shoes (females)'] - fe_avg)**2
shoes

,Pairs of shoes (females),Pairs of shoes (males),squared deviations(females)
0,90,4,3232.734694
1,28,120,26.448980
2,30,5,9.877551
3,10,3,535.591837
4,5,10,792.020408
5,9,3,582.877551
6,60,5,721.306122
7,NaN,13,NaN
8,NaN,4,NaN
9,NaN,10,NaN
10,NaN,21,NaN

In [23]:
fe_S = math.sqrt(shoes['squared deviations(females)'].sum()/6)
fe_S

31.360423952430722

In [24]:
SEM = math.sqrt((fe_S**2)/7 + (ma_S**2)/11)
SEM

15.725088769901236

In [25]:
t_stat = (fe_avg - ma_avg) / SEM
t_stat

0.9629743503795974

### Shoes - Calculate CI

In [28]:
15.14 - 2.12*15.72

-18.1864

In [29]:
15.14 + 2.12*15.72

48.4664

In [30]:
(t_stat ** 2) /(t_stat ** 2 + 16)

0.05478242400037163

### Pooled Variance

In [31]:
76/5

15.2

In [32]:
15.2/4

3.8

In [33]:
15.2/3

5.066666666666666

In [34]:
math.sqrt(8.87)

2.9782545223670858

### t-Statistic

In [35]:
(2-6)/_

-1.3430685557461495