In [ ]:
### Gambling in Vegas

tetrahedral die(4 sides)

Roll the die twice.

what's the probability that the average of your two rolls will be at least three?

In [7]:
# My thinking: for the first throw there's 25% probability you will throw a 1 and the second also has to be a 1 to be
# that the sum is less than 3. again 25% probability of throwing a 1. In 25% of the times you will throw a 1 and of 
# those 25% times you have to throw another 1 which will be the case 25% of the time. So this is 25% of 25% or 1/4 * 1/4
# Or to be seen as a combinatorics problem. 
1- (1/4)**2

0.9375

In [11]:
6/16

0.375

### Calculate SDs

In [7]:
import pandas as pd
sampling = pd.read_csv('Tetrahedral.csv', header=None)
sigma = sampling[0].std(ddof=0)
SE = sampling[1].std(ddof=0)
print("sigma = %s and SE = %s" % (sigma, SE))
sampling

sigma = 1.118033988749895 and SE = 0.7905694150420949

     0    1
0    1  1.0
1    2  1.5
2    3  2.0
3    4  2.5
4  NaN  1.5
5  NaN  2.0
6  NaN  2.5
7  NaN  3.0
8  NaN  2.0
9  NaN  2.5
10 NaN  3.0
11 NaN  3.5
12 NaN  2.5
13 NaN  3.0
14 NaN  3.5
15 NaN  4.0

In [20]:
sigma/SE

1.414213562373095

### Find Standard Error

In [2]:
2.5 ** 2

6.25

In [3]:
1.5** 2

2.25

In [4]:
0.5**2

0.25

In [2]:
import math
17.5/6

2.9166666666666665

In [20]:
math.sqrt(_)

1.707825127659933

In [21]:
_ / math.sqrt(2)

1.2076147288491197

In [15]:
die = pd.DataFrame([1,2,3,4,5,6])
sigma = die[0].std(ddof=0)
sigma

1.707825127659933

### Standard Error for Avg of 5 Dice

In [22]:
1.707825127659933 / math.sqrt(5)

0.7637626158259733

### M&M CLT

In [5]:
3.49/math.sqrt(5)

1.5607754482948533

### Klout Parameters

Open the spreadsheet of Kout scores. Calculate the mean and standard deviation. (Population)

In [11]:
kloutscores = pd.read_csv('Klout scores (Lesson 7) - Sheet1.csv', header=None)
kloutscores.head()

           0
0  25.104179
1  60.908747
2  23.222238
3  51.553491
4  22.629690

In [13]:
klout_mu = kloutscores[0].mean()
klout_sigma = kloutscores[0].std(ddof=0)
print('mean: %s and std: %s' %(klout_mu, klout_sigma))

mean: 37.719054832538156 and std: 16.036658421715316

### Klout Sampling Distribution

In [18]:
klout_se = klout_sigma / math.sqrt(35)
klout_se

2.710690019348119

### Location of Mean on Distribution

In [20]:
bieber_tweeter_z = (40 - klout_mu) / klout_se
bieber_tweeter_z

0.841462930538394

In [22]:
1 - 0.7995

0.2005

### Increase Sample Size

$$n = 250$$
$$\mu = 37.72$$
$$\sigma = 16.04$$

In [24]:
klout_se = klout_sigma / math.sqrt(250)
klout_se

1.014247333414829

In [25]:
bieber_tweeter_z = (40 - klout_mu) / klout_se
bieber_tweeter_z

2.2489042783895923

In [27]:
1 - 0.9878

0.012199999999999989

In [44]:
kloutscores[0][345]

44.723364200000006

In [43]:
n_5 = [446,1047,245,666,678]
n_10 = [981,762,543,589,227,620,54,66,133,1001]
def find_avg(nlist):
    sum = 0
    for num in nlist:
        sum = sum + kloutscores[0][num]
    return sum / len(nlist)
find_avg(n_5)
print('n=5: %s and n=10: %s' %(find_avg(n_5), find_avg(n_10)))

n=5: 28.169820064 and n=10: 42.596635928