In [ ]:
### Z-score

In [2]:
import math
se = 0.64/math.sqrt(20)
se

0.14310835055998652

In [3]:
(7.13 - 7.5) / se

-2.5854535989841327

In [4]:
import pandas as pd
eng_scores = pd.read_csv('Engagement and Learning Results - Lesson 9 - Sheet1.csv')
eng_scores.head()

,Timestamp,Please rank how engaged you are in Stats 95 on a scale from 1 to 10.,Please rank how much you think you're learning in Stats 95 on a scale from 1 to 10.
0,3/14/2013 18:42:17,10,10
1,3/14/2013 18:42:44,10,10
2,3/14/2013 18:42:58,7,8
3,3/14/2013 18:43:15,8,9
4,3/14/2013 18:43:27,9,9

In [5]:
eng_mu = eng_scores['Please rank how engaged you are in Stats 95 on a scale from 1 to 10.'].mean()
eng_sigma = eng_scores['Please rank how engaged you are in Stats 95 on a scale from 1 to 10.'].std(ddof=0)
print("mean = %.2f" %(eng_mu))
print("std = %.2f" %(eng_sigma))

mean = 7.47
std = 2.41

### Z-Score of Sample Mean

In [6]:
eng_se = eng_sigma / math.sqrt(30)
(8.3 - eng_mu) / eng_se

1.8835276272317951

### Increase the sample size

In [7]:
(8.3 - eng_mu) / (eng_sigma / math.sqrt(50))

2.4316237107967713

### Probability of Obtaining Mean

In [13]:
eng_se50 = eng_sigma / math.sqrt(50)
(8.3 - eng_mu) / eng_se50

2.4316237107967713

In [11]:
(7.8 - eng_mu) / eng_se

0.7485814928741739

In [15]:
(7.8 - eng_mu) / eng_se50

0.9664145517269205